node_modules
.next
.DS_Store
*.log

/src/locales/_build
/src/locales/**/messages.ts
/src/locales/**/messages.d.ts

/public/dist/**/*.js
/build
.now

.env*.local

/geodata

tsconfig.tsbuildinfo
/test-results/
/playwright-report/
/playwright/.cache/

*.har

*storybook.log
e2e/snapshots

/src/sunshine-data/*.csv
tpo.config.json

/public/storybook
# Sentry Config File
.env.sentry-build-plugin
