name: "Install yarn & node"
description: "Install dependencies and restores cache"
runs:
  using: "composite"
  steps:
    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: "yarn"
