#storybook-root {
  margin: 0 !important;
  width: 100% !important;
  min-height: 100vh !important;
  background-color: #f9f9f9;
}

.sbdocs {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
}
