name: Static Checks
on:
  pull_request:
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "Install dependencies"
        uses: ./.github/workflows/install-deps

      - name: Compile locales
        run: pnpm run lingui compile

      - name: Download wiki content from ref
        env:
          GITLAB_WIKI_TOKEN: ${{ secrets.GITLAB_WIKI_TOKEN }}
          GITLAB_WIKI_URL: ${{ secrets.GITLAB_WIKI_URL }}
        run: |
          pnpm run wiki:update-content

      - name: Knip
        run: pnpm run knip

      - name: Lint
        run: pnpm run lint

      - name: Typecheck
        run: pnpm run typecheck

      - name: Unit tests
        run: pnpm run test:unit
