name: End-to-end tests
on: [push]
jobs:
  playwright-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Checkout
        uses: actions/checkout@v3
      - name: Playwright
        run: yarn playwright test
