name: End-to-end tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: "Install dependencies"
        uses: ./.github/workflows/install-deps

      - name: "Install playwright"
        uses: ./.github/workflows/install-playwright

      - name: Unit tests
        run: yarn run test

      - name: Create fake wiki content
        run: echo "[]" > src/wiki-content.json

      - name: Sets DEPLOY_SHA environment variable
        run: |
          if [[ "${{ github.event_name }}" == 'pull_request' ]]; then
            echo "DEPLOY_SHA=${{ github.event.pull_request.head.sha }}" > ${{ github.env }}
          else
            echo "DEPLOY_SHA=${{ github.sha }}" > ${{ github.env }}
          fi

      - name: "Wait Vercel deploy"
        uses: ./.github/workflows/wait-vercel-deploy
        id: deployment-url
        env:
          VERCEL_PROJECT: QmVEZ2de8ivvR38cXQgqgKbbyJ6ZPN78uDd79ZmLnmBR3U
          VERCEL_TEAM: team_QR1NbYAXZYW9kP1RAF8UIjLl
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

      - name: Run non-storybook tests
        env:
          PLAYWRIGHT_BASE_URL: ${{ steps.deployment-url.outputs.deployment-url }}
          PLAYWRIGHT_NO_WEBSERVER: true
        run: yarn playwright test --grep-invert "@storybook|@har"

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

      - name: Run storybook tests
        env:
          PLAYWRIGHT_BASE_URL: ${{ steps.deployment-url.outputs.deployment-url }}/storybook
        run: |
          curl "$PLAYWRIGHT_BASE_URL/index.json" -o storybook-index.json
          yarn playwright test --grep @storybook

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-storybook
          path: playwright-report/
          retention-days: 2

      - name: Upload snapshots to argos-ci.com
        env:
          ARGOS_TOKEN: ${{ secrets.ARGOS_TOKEN }}
        run: yarn run test:argos
