name: End-to-end tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "Install dependencies"
        uses: ./.github/workflows/install-deps

      - name: "Install playwright"
        uses: ./.github/workflows/install-playwright

      - name: Download wiki content from ref
        env:
          GITLAB_WIKI_TOKEN: ${{ secrets.GITLAB_WIKI_TOKEN }}
          GITLAB_WIKI_URL: ${{ secrets.GITLAB_WIKI_URL }}
        run: |
          yarn run wiki:update-content

      - name: Sets DEPLOY_SHA environment variable
        run: |
          if [[ "${{ github.event_name }}" == 'pull_request' ]]; then
            echo "DEPLOY_SHA=${{ github.event.pull_request.head.sha }}" > ${{ github.env }}
          else
            echo "DEPLOY_SHA=${{ github.sha }}" > ${{ github.env }}
          fi

      - name: "Wait Vercel deploy"
        uses: ./.github/workflows/wait-vercel-deploy
        id: deployment-url
        env:
          VERCEL_PROJECT: QmVEZ2de8ivvR38cXQgqgKbbyJ6ZPN78uDd79ZmLnmBR3U
          VERCEL_TEAM: team_QR1NbYAXZYW9kP1RAF8UIjLl
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

      - name: Integration tests
        run: yarn run test:integration
        env:
          BASIC_AUTH_CREDENTIALS: ${{ secrets.BASIC_AUTH_CREDENTIALS }}
          GRAPHQL_BASE_URL: ${{ steps.deployment-url.outputs.deployment-url }}/api/graphql
          # Necessary to be able to create a session cookie in the tests
          ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
          ADMIN_JWT_SECRET: ${{ secrets.ADMIN_JWT_SECRET }}

      - name: Run application tests
        env:
          BASIC_AUTH_CREDENTIALS: ${{ secrets.BASIC_AUTH_CREDENTIALS }}
          PLAYWRIGHT_BASE_URL: ${{ steps.deployment-url.outputs.deployment-url }}
          PLAYWRIGHT_NO_WEBSERVER: true
          ARGOS_TOKEN: ${{ secrets.ARGOS_TOKEN }}
          ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
          ADMIN_API_TOKEN: ${{ secrets.ADMIN_API_TOKEN }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          ARGOS_THRESHOLD: 0.75
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn run test:playwright:app

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

      - name: Run storybook tests
        env:
          BASIC_AUTH_CREDENTIALS: ${{ secrets.BASIC_AUTH_CREDENTIALS }}
          PLAYWRIGHT_BASE_URL: ${{ steps.deployment-url.outputs.deployment-url }}/storybook
          ARGOS_TOKEN: ${{ secrets.ARGOS_TOKEN }}
          ARGOS_THRESHOLD: 0.75
        run: |
          curl -u "$BASIC_AUTH_CREDENTIALS" "$PLAYWRIGHT_BASE_URL/index.json" -o storybook-index.json
          yarn run test:playwright:storybook

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-storybook
          path: playwright-report/
          retention-days: 2
